<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>
  </head>
  <body>
  <div>
    <div class='center'>
      <div class='title'>Fruit Image Classification</div>
      <p class='text'>
        Input the image......
      </p>
      <div class='content'>
        <div class='no-display'>
          <input id='file-input'
                 class='no-display'
                 type='file'
                 name='file'
                 accept='image/*'
                 onchange='showPicked(this)'>
        </div>
  
        <div id = "boxes"> 
            
          <div id = "leftbox"> 
              <h2 class='text_in'>Image:</h2> 
              
              <div>
                <img id='image-picked' class='no-display' alt='Chosen Image' width='95%', height='80%'>
              </div>
              <div class='upload-label'>
                <label id='upload-label'>No file chosen</label>
              </div>
          </div>  
            
          <div id = "middlebox"> 
              <h2 class='text_in'>Action:</h2> 
              <div class='select'>
              <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
              </div>
              <div class='analyze'>
                <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
              </div>
          </div> 
            
          <div id = "rightbox"> 
              <h2 class='text_in'>Result:</h2> 
              <div class='process-label'>
                <label id='process-label'></label>
              </div>
              <div class='result-label'>
                <label id='result-label'></label>
              </div>
          </div> 
      </div> 
      </div>
    </div>
  </div>
  </body>
  </html>
  
